Package: com.chr1s.smoothscroll
Name: SmoothScroll
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
